@import url(variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular"
}

body{
    background: var(--color-primario);
}

.banner{
    position: absolute;
    z-index: -1;
}
.banner img{
    width: 100%;
    height: 105vh;
    object-fit: cover;
}
.header {
    width: 100%;
    padding: 0 .5em;
    /* height: 60px; */
    /* background: darkgoldenrod; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.header__logo {
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;

}

.logo__icono img {
    width: 3em;
}

.logo__titulo {
    /* background: orange; */
    color: var(--color-ternario);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}

.header__menu i {
    font-size: 3em;
    color: var(--color-ternario);
}

.titulo__card {
    /* background: green; */
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding: 0 0.5em
}

.titulo__card h2,
.titulo__card p {
    font-size: 2.3em;
    color: var(--color-ternario);
    text-transform: capitalize;
}

.titulo__card h2 {
    font-family: "SF-Pro-Text-Heavy";
}

.titulo__card p {
    font-family: "SF-Pro-Text-Light";
    text-transform: capitalize;
}

.titulo__balance {
    /* background: fuchsia; */
    color: var(--color-ternario);
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}

.balance__one,
.balance__two {
    display: flex;
    flex-direction: column;
}

.balance__one small,
.balance__two small {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "SF-Pro-Text-Medium";
}

.balance__one label,
.balance__two label {
    font-size: 1.3em;
    font-family: "SF-Pro-Text-Bold";
}

.balance__one progress[value] {
    --color: var(--color-secundario);
    --background: var(--color-ternario);
    background: var(--background);
}

.balance__two progress[value] {
    --color: var(--color-cuarto);
    --background: var(--color-ternario);
    background: var(--background);
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    /* margin: 0 10px; */
    height: .5em;
    border-radius: 10em;
}

.balance__one progress[value]::-webkit-progress-bar,
.balance__two progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    height: .5em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}

/*---------- MAIN ACTIVITIES  ----------*/

.main__activities{
    height: 39em;
    background: var(--color-ternario);
    padding: 1.5em 0.5em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*---------- MAIN ACTIVITIES  ----------*/

.activities__service h3{
    /* background: darkgoldenrod; */
    text-transform: capitalize;
    font-family: "SF-Pro-Text-Bold";
    font-size: 1.3em;
    margin-bottom: 5px;
}

.service__cards{
    gap: .8em;
    margin-bottom: 20px;
    padding: 0.8em;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.service__cards div {
    height: 8em;
    min-width: 6.5em;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.150);
    font-family: "SF-Pro-Text-Bold.otf";
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service__cards p{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------- TRANSACTIONS PART ----------*/

.transactions__cards {
    display: flex;
    flex-direction: column;
    height: 21em;
    overflow-y: scroll;

}

.transactions__cards div {
    display: flex;
    margin-top: 10px;
}


.transactions__cards img {
    width: 50px;
}

.transactions__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}

.transactions__cards div {
    display: flex;
}

.transactions__cards__item {
    display: flex;
    justify-content: space-between;
}
.transactions__value {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/*----------------------- FOOTER -----------------------*/
/*----------------------- FOOTER -----------------------*/
/*----------------------- FOOTER -----------------------*/

.footer {
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
}

.footer ul {
    display: flex;
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img {
    width: 2em;
}