<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
    <link rel="stylesheet" href="/css/customwallet/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="title">SkullCoin</div>

    <div class="logozone">
        <img src="/storage/img/customwallet/logocor.png">
    </div>
    

    <main>
        <div class="money">
            <h2><sub>$</sub>1.124.579</h2>
        </div>
        <div class="maintext">
            <h2>- - Tu Cantidad Actual. - -</h2>
        </div>

        <article class="activities__transactions">
            <h3>Transacciones</h3>
            <div class="transactions__cards">
                <div class="transactions__cards__item">
                    <div>
                        <img src="/storage/img/customwallet/coins/bsv.png">
                        <div class="transactions__description">
                            <p>BSV</p>
                            <small>five lods</small>
                        </div>
                    </div>
                    <div class="transactions__value">
                        <p>+28.11</p>
                        <small>feb 21</small>
                    </div>
                </div>
                <div class="transactions__cards__item">
                    <div>
                        <img src="/storage/img/customwallet/coins/cortex.png">
                        <div class="transactions__description">
                            <p>Cortex</p>
                            <small>h&m 1257 ****</small>
                        </div>
                    </div>
                    <div class="transactions__value">
                        <p>- 157.64</p>
                        <small>jan 14</small>
                    </div>
                </div>
                <div class="transactions__cards__item">
                    <div>
                        <img src="/storage/img/customwallet/coins/eqli.png">
                        <div class="transactions__description">
                            <p>Equalizer</p>
                            <small>five lods</small>
                        </div>
                    </div>
                    <div class="transactions__value">
                        <p>+28.11</p>
                        <small>feb 21</small>
                    </div>
                </div>
                <div class="transactions__cards__item">
                    <div>
                        <img src="/storage/img/customwallet/coins/happycoin.png">
                        <div class="transactions__description">
                            <p>HappyCoin</p>
                            <small>h&m 1257 ****</small>
                        </div>
                    </div>
                    <div class="transactions__value">
                        <p>- 157.64</p>
                        <small>jan 14</small>
                    </div>
                </div>
                <div class="transactions__cards__item">
                    <div>
                        <img src="/storage/img/customwallet/coins/iverlus.png">
                        <div class="transactions__description">
                            <p>Iverlus</p>
                            <small>five lods</small>
                        </div>
                    </div>
                    <div class="transactions__value">
                        <p>+28.11</p>
                        <small>feb 21</small>
                    </div>
                </div>
                <div class="transactions__cards__item">
                    <div>
                        <img src="/storage/img/customwallet/coins/monkekoin.png">
                        <div class="transactions__description">
                            <p>MonkeyCoin</p>
                            <small>h&m 1257 ****</small>
                        </div>
                    </div>
                    <div class="transactions__value">
                        <p>- 157.64</p>
                        <small>jan 14</small>
                    </div>
                </div>
                <div class="transactions__cards__item">
                    <div>
                        <img src="/storage/img/customwallet/coins/nagarato.png">
                        <div class="transactions__description">
                            <p>Nagarato</p>
                            <small>five lods</small>
                        </div>
                    </div>
                    <div class="transactions__value">
                        <p>+28.11</p>
                        <small>feb 21</small>
                    </div>
                </div>
                <div class="transactions__cards__item">
                    <div>
                        <img src="/storage/img/customwallet/coins/unicoin.png">
                        <div class="transactions__description">
                            <p>UniCoin</p>
                            <small>h&m 1257 ****</small>
                        </div>
                    </div>
                    <div class="transactions__value">
                        <p>- 157.64</p>
                        <small>jan 14</small>
                    </div>
                </div>
            </div>
        </article>
    </main>


    <footer>
        <ul>
            <li>
                <a href="#"><img src="/storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="/views/balance.html"><i class='bx bx-transfer'></i></a>
            </li>
            <li>
                <a href="/views/cards.html"><img src="/storage/img/icon_2.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>