<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stadistics</title>
    <link rel="stylesheet" href="/css/customwallet/stadistics.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main>
        <ul class="card">
            <li>
              <p>
                <h3>53</h3><i class="fa fa-arrow-up clr-up"></i>
              </p>
              <span>Monedas Vendidas</span>
            </li>
            <li>
                <p>
                  <h3>18</h3><i class="fa fa-arrow-down clr-down"></i>
                </p>
                <span>Websites en inversion</span>
              </li>
            <li>
              <p>
                <h3>9,526</h3><i class="fa fa-arrow-top"></i>
              </p>
              <span>Monedas Actuales Habilitadas</span>
            </li>
            <li>
              <p>
                <h3>6.90%</h3><i class="fa fa-arrow-top"></i>
              </p>
              <span>Compraventa la ultima semana</span>
            </li>
          </ul>
    </main>


    <footer>
        <ul>
            <li>
                <a href="../../index.html"><img src="/storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="/views/customwallet/transfer.html"><i class='bx bx-transfer'></i></a>
            </li>
            <li>
                <a href="/views/customwallet/stadistics.html"><img class="tercer" src="/storage/img/icon_2.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>