<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer</title>
    <link rel="stylesheet" href="/css/customwallet/transfer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main>
        <p class="titulo__card2">Recent Transactions</p>
        
        <section class="maincard2">
            <div class="izqback">
                <div>1</div>
            </div>

            <div class="card__title">
                <div class="x">X</div>
                <p>Money</p>
                
                <div class="normalmoney">
                    <i class='bx bx-money'></i>
                    <p>COP</p>

                </div>
                <button class="learnmore">learn more</button>
            </div>
        </section>

        <section class="maincard2">
            <div class="izqback">
                <div>1</div>
            </div>

            <div class="card__title">
                <div class="x">X</div>
                <p>Money</p>
                
                <div class="normalmoney">
                    <i class='bx bx-money'></i>
                    <p>COP</p>

                </div>
                <button class="learnmore">learn more</button>
            </div>
        </section>

        <section class="maincard2">
            <div class="izqback">
                <div>1</div>
            </div>

            <div class="card__title">
                <div class="x">X</div>
                <p>Money</p>
                
                <div class="normalmoney">
                    <i class='bx bx-money'></i>
                    <p>COP</p>

                </div>
                <button class="learnmore">learn more</button>
            </div>
        </section>

        <section class="maincard2">
            <div class="izqback">
                <div>1</div>
            </div>

            <div class="card__title">
                <div class="x">X</div>
                <p>Money</p>
                
                <div class="normalmoney">
                    <i class='bx bx-money'></i>
                    <p>COP</p>

                </div>
                <button class="learnmore">learn more</button>
            </div>
        </section>

        <section class="maincard2">
            <div class="izqback">
                <div>1</div>
            </div>

            <div class="card__title">
                <div class="x">X</div>
                <p>Money</p>
                
                <div class="normalmoney">
                    <i class='bx bx-money'></i>
                    <p>COP</p>

                </div>
                <button class="learnmore">learn more</button>
            </div>
        </section>
    </main>


    <footer>
        <ul>
            <li>
                <a href="/views/customwallet/main.html"><img src="/storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="/views/customwallet/transfer.html"><i class='bx bx-transfer'></i></a>
            </li>
            <li>
                <a href="/views/customwallet/stadistics.html"><img src="/storage/img/icon_2.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>