<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer</title>
    <link rel="stylesheet" href="/css/customwallet/transfer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main>
        <p class="titulo__card2">Recent Transactions</p>
        
        <section class="maincard2">
            <div class="x">X</div>
            <div class="card__title">

                <img src="/storage/img/customwallet/coins/happycoin.png">
                
                <div class="normalmoney">
                    <p><sub>$</sub>2300 en HappyCoins</p>
                    <p class="horatransfer">3:33 a.m</p>

                </div>
            </div>
        </section>

        <section class="maincard2">
            <div class="x">X</div>
            <div class="card__title">

                <img src="/storage/img/customwallet/coins/unicoin.png">
                
                <div class="normalmoney">
                    <p><sub>$</sub>500 en UniCoins</p>
                    <p class="horatransfer">5:00 a.m</p>
                </div>
            </div>
        </section>

        <section class="maincard2">
            <div class="x">X</div>
            <div class="card__title">

                <img src="/storage/img/customwallet/coins/cortex.png">
                
                <div class="normalmoney">
                    <p><sub>$</sub>240 en Cortex-Coins</p>
                    <p class="horatransfer">9:50 p.m</p>

                </div>
            </div>
        </section>

        <section class="maincard2">
            <div class="x">X</div>
            <div class="card__title">
                <i class='bx bx-money'></i>

                <div class="normalmoney">

                    <p><sub>$</sub>5 en COP, ingreso no-crypto</p>
                    <p class="horatransfer">2:14 p.m</p>

                </div>
            </div>
        </section>

        <section class="maincard2">
            <div class="x">X</div>
            <div class="card__title">

                <img src="/storage/img/customwallet/coins/monkekoin.png" alt="">
                
                <div class="normalmoney">
                    <p><sub>$</sub>5000 en MonkeCoins</p>
                    <p class="horatransfer">4:45 p.m</p>

                </div>
            </div>
        </section>
    </main>


    <footer>
        <ul>
            <li>
                <a href="/views/customwallet/main.html"><img src="/storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="/views/customwallet/transfer.html"><i class='bx bx-transfer'></i></a>
            </li>
            <li>
                <a href="/views/customwallet/stadistics.html"><img src="/storage/img/icon_2.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>