<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="banner">
        <img src="../storage/img/Ellipse.png">
    </div>
    

    <header>
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/logo.svg">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>

    <div class="bannercircle">
        <p>Total</p>
        <p>Balance</p>
        <h2><sub>$</sub>214,417</h2>
    </div>
    <main>
        <div class="stuff3">
            <p class="assets">Assets</p>
            <p class="debt">Debt</p>
            <p class="income">Income</p>
        </div>

        <div class="mainpart">
            <img class="stadistics" src="../storage/img/stadisticsbalance.png">

            <div class="days">
                <p>S</p> <p>M</p> <p>T</p> <p>W</p> <p>T</p> <p>F</p> <p>S</p>
            </div>
        </div>

        <div class="cardzone">
            <img src="../storage/img/cardsita.png">
            <div class="spending">
                <h2>Spending.</h2>
                <small>You forgot to add Debit Card Number #12331498. Add it now.</small>
            </div>
        </div>
        
    </main>
    <footer>
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="./views/balance.html"><img src="../storage/img/bookgreen.png"></a>
            </li>
            <li>
                <a href="./views/cards.html"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="./index.html"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>