<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="../css/cards.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/Frame 2.png">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <img src="../storage/img/menublue.png">
        </div>
    </header>
    <main class="main">
        <section class="main__titulo2">
            <article class="titulo__card2">
                <h3>Investing Tips</h3>
            </article>
            <div class="maincard2">
                <div class="izqback">
                    <img src="/storage/img/Group.png">
                </div>
                <div class="cart__Title">
                    <h3>What is an ETF ?</h3>
                    <p>By Samuelito P, PHD</p>
                </div>
                <div class="x">X</div>
                <button class="learnmore">LEARN MORE</button>
            </div>
        </section>

        <section class="Cards2">
            <article class="titulo__card2">
                <h3>My Cards ( 4 )</h3>
            </article>
            <div class="cards2">
                    <img src="/storage/img/card.svg">
            </div>
        </section>
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>