<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="../css/cards.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/Frame 2.png">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <img src="../storage/img/menublue.png">
        </div>
    </header>
    <main class="main">
        <section class="upper">

            <h2 class="titulo__card2">Investing Tips</h2>
            <section class="maincard2">
                <div class="izqback">
                    <div>1</div>
                    <img src="/storage/img/Group.png">
                </div>

                <div class="card__title">
                    <div class="x">X</div>
                    <h3>What is an ETF ?</h3>
                    <p>By Samuelito P, PHD</p>
                    <button class="learnmore">learn more</button>
                </div>
            </section>
        </section>

        <section class="Cards2">
            <h2 class="titulo__card2">My Cards (4)</h2>

            <article class="cards">
                <div class="card">
                    <small>**** 6175</small>
                    <h2><sub>$</sub>47,417</h2>
                    <img class="visa" src="/storage/img/visa.svg">
                </div>
                <div class="card">
                    <small>**** 6175</small>
                    <h2><sub>$</sub>47,417</h2>
                    <img class="masterCard" src="/storage/img/masterCard.svg">
                </div>
                <div class="card">
                    <small>**** 6175</small>
                    <h2><sub>$</sub>47,417</h2>
                    <img class="visa" src="/storage/img/visa.svg">
                </div>
                <div class="card">
                    <small>**** 6175</small>
                    <h2><sub>$</sub>47,417</h2>
                    <img class="masterCard" src="/storage/img/masterCard.svg">
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>