@import url(/css/customwallet/variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "steelfish";

}

body {
    background-color: var(--color-primario);
}



.titulo__card2 {
    color: var(--color-secundario);
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 3vh;
}



.x {
    position: absolute;
    display: flex;
    color: var(--color-primario);
    background-color: var(--color-secundario);
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 20;
    border-radius: 20px;
    margin-left: 17em;
}

.maincard2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-quinto);
    width: 20em;
    height: 7em;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.521);
    margin-top: 1em;
}

.maincard2 img {
    width: 3em;
}


.card__title {
    display: flex;
    align-items: center;
    color: var(--color-secundario);
    width: 12em;
    font-size: 20px;
    margin-left: 0.5em;
}

.normalmoney {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5em;
}

.card__title i {
    margin-left: -7px;
    font-size: 2.8em;
}


.normalmoney .horatransfer {
    color: gray;
}









footer {
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li {
    list-style: none;
    margin: .5em 0;
}

footer ul li a img {
    width: 2em;
}

footer ul li i {
    color: var(--color-secundario);
    font-size: 25px;
    text-shadow: -5px 5px 0 var(--color-ternario);
}